@charset 'UTF-8';
/*normalize*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: .67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    /* 1 */
    overflow: visible;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    border-bottom: none;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    /* 2 */
    display: table;
    box-sizing: border-box;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
    color: inherit;
    /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    /* 1 */
    outline-offset: -2px;
    -webkit-appearance: textfield;
    /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    /* 1 */
    font: inherit;
    -webkit-appearance: button;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

/*normalize*/
/*fonts*/
@font-face {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-style: normal; 

    src: url('../fonts/TrebuchetMS.woff2') format('woff2'), url('../fonts/TrebuchetMS.woff') format('woff');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-style: normal; 

    src: url('../fonts/TrebuchetMS-Bold.woff2') format('woff2'), url('../fonts/TrebuchetMS-Bold.woff') format('woff');
}

/*fonts*/
/*general*/
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Trebuchet MS';
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100%;
}

img {
    max-width: 100%;
}

.page_dark {
    position: relative;
    background: #000 url('../images/dark-pattern.jpg');
}

.page_dark:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40%;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), transparent);
}

.page_dark:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40%;
    content: '';
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .4));
}

.app {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.page-container_offset {
    padding-top: 3.5rem;
}

.page-container {
    position: relative;
    max-width: 1128px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 42px;
    padding-left: 42px;
}

.page-title_white {
    color: #fff;
}

.page-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 3.6rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 2rem;
}

.page-title_centered {
    text-align: center;
}

.cat-col {
    position: relative;
    z-index: 5;
    width: 320px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.cat-desc {
    font-size: 1.3rem;
    display: block;
    text-align: center;
    color: #fff;
}

.cat-col_disabled {
    pointer-events: none;
}

.cat-col_disabled .card-border:before {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(242, 242, 242, .6);
}

.cat-col_disabled .card-weight {
    background-color: #b3b3b3;
}

.cat-col_disabled .cat-desc {
    color: #ff6;
}

.cat-col_disabled .card-border {
    position: relative;
    overflow: hidden;
    background-color: #b3b3b3;
}

.card-border {
    position: relative;
    width: 320px;
    height: 483px;
    border-radius: 14px;
    background-color: #2ea8e6;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.card {
    position: absolute;
    top: 4px;
    /* соответствует ширине border */
    left: 4px;
    /* соответствует ширине border */
    width: 312px;
    /* container width - (ширина border * 2) */
    height: 475px;
    border-radius: 11px;
    /* container height - (ширина border * 2) */
    background-color: #f2f2f2;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
}

.card__desc {
    display: block;
    margin-bottom: 1rem;
    color: #666;
}

.card-item {
    font-size: 1.4rem;
    display: block;
    color: #666;
}

.card__filing {
    font-size: 2.4rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1.5rem;
}

.cat {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 273px;
    cursor: pointer;
}

.card__title {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1;
    display: block;
}

.cat-row {
    display: flex;
    margin-right: -40px;
    margin-left: -40px;
    padding-bottom: 60px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card__content {
    padding: 2rem 3rem 2rem 4.5rem;
    cursor: pointer;
}

.card-weight__title {
    font-size: 4.2rem;
    line-height: 1;
    display: block;
    text-align: center;
}

.card-weight__unit {
    font-size: 2.1rem;
    display: block;
    text-align: center;
}

.card-weight__content {
    line-height: 1;
}

.card-weight {
    position: absolute;
    z-index: 4;
    right: 1.4rem;
    bottom: 1.4rem;
    display: flex;
    width: 82px;
    height: 82px;
    color: #fff;
    border-radius: 50%;
    background: #1698d9;
    align-items: center;
    justify-content: center;
}

.link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.link_blue {
    color: #1698d9;
}

.link_sub_dashed {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.cat-col_selected .card-weight {
    background-color: #d91667;
}

.cat-col_selected .cat-desc {
    color: #fff;
}

.cat-col_selected .card-border {
    background-color: #d91667;
}

.card__desc_pink {
    color: #e62e7a;
}

@media (max-width: 1225px) {
    .cat-row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .cat-col {
        width: calc(33.3% - 30px);
        margin-right: 15px;
        margin-left: 15px;
    }

    .card-border {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 1070px) {
    .cat-row {
        justify-content: center;
    }

    .cat-col {
        width: calc(50% - 30px);
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (max-width: 760px) {
    .card-border {
        width: 290px;
    }

    .card {
        width: 282px;
    }

    .cat-col {
        width: calc(100%);
        margin-right: 0;
        margin-left: 0;
        padding-right: 15px;
        padding-left: 15px;
    }

    .page-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/*general*/
/*items*/
/*items*/
/*media*/
/*media*/
