<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="page page_dark">
    <div id="app" class="app">
        <div class="page-container page-container_offset">
            <h1 class="page-title page-title_centered page-title_white">
                Ты сегодня покормил кота?
            </h1>
            <div class="cat-row">
                <div class="cat-col" v-for="(item,id) in items"  :key="item.id" @mouseenter="preCanselHover(item.id)" @mouseleave="preCanselOut(item.id)"  @click=" toggleSelected(item)" v-bind:class="{ 'cat-col_selected': item.isSelected,'cat-col_disabled': item.isDisabled } ">
                    <div class="card-border">
                        <div class="cat">
                            <img src="images/cat.png" class="cat__pic" alt="cat">
                        </div>
                        <div class="card-weight">
                            <div class="card-weight__content">
                                <span class="card-weight__title">
                                    {{item.weight}}
                                </span>
                                <div class="card-weight__unit">
                                    {{item.unit}}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__content">
                               
                                <span class="card__desc card__desc_pink" v-if="item.isTrigered && item.isSelected">
                                    Котэ не одобряет?
                                </span>
                                <span class="card__desc" v-else="!item.isTrigered ">
                                    {{item.desc}}
                                </span>
                                <span class="card__title">
                                    {{item.title}}
                                </span>
                                <span class="card__filing">
                                    {{item.filing}}
                                </span>
                                <div class="card-items">
                                    <span class="card-item" v-for="(val) in item.items">
                                        {{val.title}}
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cat-desc">
                        <p v-if="item.isSelected && !item.isDisabled" class="cat-desc__item">
                            {{item.bottomDesc}}
                        </p>
                        <p v-else-if="item.isDisabled" class="cat-desc__item">
                            Печалька, {{item.filing}} закончился.
                        </p>
                        
                        <p v-else class="cat-desc__item">
                            Чего сидишь? Порадуй котэ, <span class="link link_blue ">
                            <span class="link_sub link_sub_dashed">купи</span>.</span>
                        </p>
                    </div>
                </div>
<!--
                <div class="cat-col cat-col_selected">
                    <div class="card-border">
                        <div class="cat">
                            <img src="images/cat.png" class="cat__pic" alt="cat">
                        </div>
                        <div class="card-weight">
                            <div class="card-weight__content">
                                <span class="card-weight__title">
                                    2
                                </span>
                                <div class="card-weight__unit">
                                    кг
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__content">
                                <span class="card__desc">
                                    Сказочное заморское яство
                                </span>
                                <span class="card__title">
                                    Нямушка
                                </span>
                                <span class="card__filing">
                                    с рыбой
                                </span>
                                <div class="card-items">
                                    <span class="card-item">
                                        40 порций
                                    </span>
                                    <span class="card-item">
                                        2 мыши в подарок
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cat-desc">
                        <p class="cat-desc__item">
                            Головы щучьи с чесноком да свежайшая сёмгушка.
                        </p>
                    </div>
                </div>
                <div class="cat-col cat-col_disabled">
                    <div class="card-border">
                        <div class="cat">
                            <img src="images/cat.png" class="cat__pic" alt="cat">
                        </div>
                        <div class="card-weight">
                            <div class="card-weight__content">
                                <span class="card-weight__title">
                                    5
                                </span>
                                <div class="card-weight__unit">
                                    кг
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__content">
                                <span class="card__desc">
                                    Сказочное заморское яство
                                </span>
                                <span class="card__title">
                                    Нямушка
                                </span>
                                <span class="card__filing">
                                    с курой
                                </span>
                                <div class="card-items">
                                    <span class="card-item">
                                        100 порций
                                    </span>
                                    <span class="card-item">
                                        5 мышей в подарок
                                    </span>
                                    <span class="card-item">
                                        заказчик доволен
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cat-desc">
                        <p class="cat-desc__item">
                            Печалька, с курой закончился.
                        </p>
                    </div>
                </div>
-->
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>

    <script>
        var moved;
        var app = new Vue({
            el: '#app',
            data:{
                move:0,
                items:[
                    {
                        id:0,
                        isTrigered:false,
                        isDisabled:false,
                        isSelected:false,
                        inStock:true,
                        desc:'Сказочное заморское яство',
                        bottomDesc:'Печень утки разварная с артишоками.',
                        title:'Нямушка',
                        filing:'с фуа-гра',
                        items:[
                            {title:'10 порций'},
                            {title:'мышь в подарок'}
                        ],
                        weight:'0,5',
                        unit:'кг'
                    },
                    {
                        id:1,
                        isTrigered:false,
                        isDisabled:false,
                        isSelected:false,
                        inStock:true,
                        desc:'Сказочное заморское яство',
                        bottomDesc:'Головы щучьи с чесноком да свежайшая сёмгушка.',
                        title:'Нямушка',
                        filing:'с рыбой',
                        items:[
                            {title:'40 порций'},
                            {title:'2 мыши в подарок'}
                        ],
                        weight:'2',
                        unit:'кг'
                    },
                    {
                        id:2,
                        isTrigered:false,
                        isDisabled:true,
                        isSelected:false,
                        inStock:false,
                        desc:'Сказочное заморское яство',
                        bottomDesc:'Филе из цыплят с трюфелями в бульоне.',
                        title:'Нямушка',
                        filing:'с курой',
                        items:[
                            {title:'100 порций'},
                            {title:'5 мышей в подарок'},
                            {title:'заказчик доволен'}
                            
                        ],
                        weight:'5',
                        unit:'кг'
                    }
                ]
            },
            methods:{
                toggleSelected:function(item){
                    item.isSelected = !item.isSelected;
                    console.log(this.move);
                    this.items[item.id].isTrigered = false;
                    this.move = 1;
                },
                preCanselHover:function(item){
                    
                     console.log(this.move);
                    if(this.items[item].isSelected){
                        if(this.move == 0){
                        this.items[item].isTrigered = true;
                        }
                    }                    
                },
                preCanselOut:function(item){
                    this.move = 0;
                    if(this.items[item].isSelected){
                        
                        this.items[item].isTrigered = false;
                    }                    
                }
            }
        })

    </script>
</body>

</html>
